.navbar {
  height: 75px;
  padding: 0 25% 0 60px;
  /* background-color: rebeccapurple; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__shadow {
  box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.1);
}

.navbar__logo {
  color: #e96a81;
  font-size: 30px;
  font-weight: 500;
  margin: 0;
}

.navbar__list {
  list-style: none;
  display: flex;
}

.navbar__list__element {
  font-size: 20px;
  margin-left: 50px;
  color: #b4b4b4;
  font-weight: 500;
  cursor: pointer;
}

.navbar__list .active {
  color: #ff748d;
  font-weight: 700;
}
